<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.shareDay">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/splash_jpg"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShareDay">
        <activity
            android:name=".chats.ProfilePopUp"
            android:exported="true" />
        <activity android:name=".board.HelpYouWriteActivity"/>
        <activity android:name=".board.HelpMeWriteActivity"/>
        <activity android:name=".contents.MyAreaSettingActivity" />
        <activity android:name=".mapmenu.MapActivity" />
        <activity android:name=".user.GoogleSignInActivity" />
        <activity android:name=".user.SignInActivity" />
        <activity android:name=".user.SignUpActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".mypage.helpHistoryActivity"/>
        <activity android:name=".mypage.useHistoryActivity"/>
        <activity android:name=".mypage.userInfoModificationActivity"/>
        <activity android:name=".mypage.myWritingActivity"/>
        <activity android:name=".mypage.settingsActivity"/>
        <activity android:name=".mypage.helpActivity"/>
        <activity android:name=".mypage.useHistory_oliveyoung"/>
        <activity android:name=".mypage.helpHowtouseChatActivity"/>
        <activity android:name=".mypage.helpHowtouseHelpmeActivity"/>
        <activity android:name=".mypage.helpHowtouseHelpyouActivity"/>
        <activity android:name=".mypage.helpHowtouseMapActivity"/>
        <activity android:name=".mypage.helpHowtouseMypageActivity"/>
        <activity android:name=".mypage.helpHowtouseShareboxActivity"/>
        <activity android:name=".mypage.userInfoChangeActivity"/>
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="6km6upfvl5" />
    </application>

</manifest>